<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{ title }}</title>
    <meta name="description" content=""/>
    <meta name="author" content="{{username}}"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/{{template}}/css/style.css">

    <script src="/assets/{{template}}/js/jquery-3.5.1.min.js"></script>
    <script defer src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.ckeditor.com/4.14.1/full/ckeditor.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/spectrum.min.css">
    <script src="/assets/spectrum.min.js"></script>
</head>
