<div class="card-header">
    <div class="d-flex align-items-center">
        <h5>{{title}}</h5>
        {{#if toolbar}}
            <ul id="adminToolbar" class="d-flex ml-auto mt-2 mb-2">
                {{{toolbar}}}
            </ul>
        {{/if}}
    </div>
</div>