<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Moomla Shopping</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-6">
                <h4>Dev by Maksim Makarenko</h4>
                <p class="mb-5">Student of IT-Academy</p>

                <p>A1 +375 (29) 378-37-72</p>
                <p>MTS +375 (17) 302-87-01</p>
                <p>E-mail: makmakale87@gmail.com</p>

                <h4 class="mt-5">Exam project for the course: "JavaScript Web Application Development"</h4>
            </div>
            <div class="col-6">
                <img src="/assets/{{template}}/img/info/shop_info.png" alt="MooShopping" style="max-width: 100%">
            </div>
        </div>
    </div>
</div>