<div class="card-body">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{#if_eq page 'fields'}}active{{/if_eq}}" href="/admin/shop/productfields">Характеристики</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if_eq page 'groups'}}active{{/if_eq}}" href="/admin/shop/productgroups">Группы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if_eq page 'values'}}active{{/if_eq}}" href="/admin/shop/productfieldvalues">Значения</a>
        </li>
    </ul>
</div>